snippet dbg
	import pdb; pdb.set_trace() # FIXME: Remove debugger breakpoint
snippet brp
	breakpoint() # FIXME: Remove debugger breakpoint
snippet idbg
	import ipdb; ipdb.set_trace() # FIXME: Remove debugger breakpoint
